$cyan-9: cyan;
.modal {
	box-shadow: var($shadow-2), 0 0 0 100vw rgb(0 0 0 / 0.5);

	background: #fff;
	color: #222;
	border: 0;
	border-radius: 0.25rem;
}

.modal::backdrop {
	background: rgb(0 0 0 / 0.5);
	opacity: 0;
}

.modal[open] {
	animation: slide-up 1000ms forwards, fade-in 500ms forwards;
}

// .modal[open]::backdrop {
//   animation: fade-in 500ms forwards;
// }

.modal[closing] {
	display: block;
	pointer-events: none;
	inset: 0;
	animation: fade-out 500ms forwards;
}

// .modal[closing]::backdrop {
//   animation: fade-out 500ms forwards;
// }

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes slide-up {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0%);
	}
}

/* extra styling */

.modal {
	max-width: 50ch;

	& > * {
		margin: 0 0 0.5rem 0;
	}
}

body {
	min-height: 100vh;
	margin: 2rem;
	font-family: system-ui;
	font-size: 1.25rem;
	line-height: 1.5;
	color: var($gray-8);
	// background-image: url('https://images.unsplash.com/photo-1644242629712-943ae5c8c4f3?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0Njc1MjQxNA&ixlib=rb-1.2.1&q=85');
	// background-size: cover;
}

h1 em {
	color: var($cyan-9);
	text-decoration: underline;
	text-underline-offset: 0.25em;
}

h2 {
	color: var($cyan-9);
}

.button {
	border: 0;
	cursor: pointer;
	background: var($gray-8);
	color: var($gray-2);
	font-weight: 700;
	padding: var($size-2) var($size-4);
}

.button:hover,
.button:focus {
	background: var($cyan-9);
}

form {
	display: grid;
	gap: 1em;
}
