* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(12, 12, 25);
	color: white;
	padding: 1em;
}

.mainBody {
	display: grid;
	place-items: center;
	min-height: 75vh;
	position: relative;
}

button {
	padding: 3px 5px;
	/* font-size: medium; */
	margin-inline: 10px;
	cursor: pointer;

}

#favDialog {
	inset: 50%;
	min-width: 280px;
	transform: translate(-50%, -50%);
	padding: 10px;
}

p {
	padding: 5px;
}