body {
  /* background-color: var(--dark); */
  background-color: #0e1419;
}
.container{
  min-height: 150px;
}
.one {
  padding: 10px;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #151515cc;
  box-shadow: 0px 5px 3px #454545;
  color: turquoise;
}

.one a {
  display: inline-block;
  font-size: 5rem;
  background-color: transparent;
  min-width: 100px;
  line-height: 100px;
  width: auto;
  height: 100%;
  margin: 3px 0;
  text-align: center;
  transition: 0.4s linear !important;
}
/* .one a i {
  color: turquoise;
} */

.one a::before,
.one a::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    /* width: 100%;
    height: 100%; no use*/
    left: 0;
    top: 0;
    transition: 0.4s linear;
}
.one a:hover {
    transform: scale(1.3) rotate(-15deg);
}
.one a:hover::before {
    width: 100%;
    height: 100%;
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
}
.one a:hover::after {
    width: 100%;
    height: 100%;
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
}
