.modal {
	box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);

	background: #fff;
	color: #222;
	border: 0;
	border-radius: 0.25rem;
}

.modal::backdrop {
	background: rgb(0 0 0 / 0.5);
	opacity: 0;
}

.modal[open] {
	animation:
		slide-up 1000ms forwards,
		fade-in 500ms forwards;
}
.modal[closing] {
	display: block;
	pointer-events: none;
	inset: 0;
	animation: fade-out 500ms forwards;
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes slide-up {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0%);
	}
}

.modal {
	max-width: 50ch;

	& > * {
		margin: 0 0 0.5rem 0;
	}
}

body {
	min-height: 100vh;
	margin: 2rem;
	font-family: system-ui;
	font-size: 1.25rem;
	line-height: 1.5;
}

h1 em {
	text-decoration: underline;
	text-underline-offset: 0.25em;
}

.button {
	border: 1px solid black;
	cursor: pointer;
	font-weight: 700;
}

form {
	display: grid;
	gap: 1em;
}
