* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.container {
    width: 100%;
    height: 100%;
    background: linear-gradient(#fff, #f9ffd6);
    position: relative;
    padding: 4px 8%;
}
nav {
    display: flex;
    align-items: center;
    height: 80px;
    position: relative;
}
nav img {
    width: 30px;
    cursor: pointer;
}
nav ul {
    position: absolute;
    top: 40px;
    right: 0;
}
nav ul li {
    list-style: none;
    color: #a1a1a1;
    font-size: 12px;
    margin-bottom: 15px;
    cursor: pointer;
}
nav ul ::after {
    content: "";
    width: 1px;
    height: 130px;
    background: #d0d0d0;
    position: absolute;
    top: 20px;
    left: -10px;
}
.content {
    max-width: 600px;
    /* margin-top: 100px; */
}
.content h1 {
    font-size: 60px;
}
.content p {
    max-width: 450px;
    color: #a1a1a1;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin: 40px 0;
}
.content button {
    width: 160px;
    padding: 10px 0;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    background: #ffff70;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.content button:hover {
    outline:1px solid red;
}
.car-image {
    width: 55%;
    position: absolute;
    right: 70px;
    bottom: 75px;
    animation: animate 2s linear 1;
}
/* animation */
@keyframes animate {
    0% {
        transform: translate(-80px, -80px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.bottom-menu {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 50px;
}
.bottom-menu div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 50px;
}
.bottom-menu img {
    width: 25px;
    margin-right: 15px;
}

@media (max-width: 650px) {
    body {
        height: auto;
    }
    .car-image {
        /* position: relative; */
        bottom: none;
        left: 40%;
    }
    .bottom-menu {
    position: relative;
    margin-top: 18vh;
    padding: 2px 0;
    bottom: 25px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    }
}
@media (max-width:540px){
    .content h1 {
        font-size: 40px;
    }
    .content {
        max-width: 231px;
        /* margin-top: 100px; */
    }
}
