#noActionWaitingLoader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 15px;
	border: 1px solid gray;
	border-radius: 15px;
	box-shadow: 3px 3px 4px rgba(247, 245, 245, 0.82),
		4px 4px 5px rgb(161 241 189 / 82%),
		6px 6px 6px rgb(235 183 183 / 82%);
	min-width: 320px;
	width: auto;
	max-width: 50vw;
	min-height: 170px;
	height: auto;
	max-width: 50vh;
	background-color: rgb(251, 251, 251);
	/* display: flex; */
	display: none;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	text-transform: capitalize;
	font-family: cursive, 'Courier New', Courier, monospace;
	background: linear-gradient(70deg, #000, #201, #312, #201, #000);

	animation: bgChange linear infinite 2s;
}

#NAWLMessage {
	font-weight: bold;
	text-align: center;
	color: white;
	/* color: rgb(29, 71, 35); */
}

#NAWLMessage::after {
	content: "";
	position: absolute;
	animation: dots ease infinite 2.3s;
}

#NAWL {
	height: 0.5px;
	width: 60%;
	background: linear-gradient(to right, transparent, rgba(60, 158, 165, 0.333), transparent);
	display: inline-block;
	position: relative;
}

#NAWL::after {
	content: "";
	position: absolute;
	left: 0;
	top: -1.5px;
	width: 100%;
	background: linear-gradient(to right, transparent, rgba(60, 165, 142, 0.633), transparent);
	height: 3px;
	filter: blur(2px);
	animation: leftright ease-in-out infinite alternate 2s;
	/*Most important*/
}

@keyframes bgChange {
	from {
		filter: hue-rotate(0deg);
	}

	to {
		filter: hue-rotate(360deg);
	}
}

@keyframes dots {
	0% {
		content: "";
	}

	25% {
		content: ".";
	}

	55% {
		content: "..";
	}

	80% {
		content: "...";
	}

}

@keyframes leftright {
	0% {
		left: -33%;
	}

	100% {
		left: 33%;
	}
}