body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Roboto'; 
    font-size: 12pt; 
}
h1,h2,h3{
    margin: 0;
    padding: 0;
    color: #404040;
}
p,ul,li{
    margin-top: 0;
    list-style: none;
}
/*************************/
/*    Styling  Header    */
/*************************/
header{
    overflow: hidden;
}
#top-header{
    text-align: center;
    height: 60px;
}
/****************/    
/* Styling Logo */
/****************/
#logo{
    float: left;
    margin: none;
    padding: none;
    height: 60px;
    width: 30%;
}
#logo img{
    padding: 10px 0px;
    float: left;
    width: 60%;
}
/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
    float: right;
    width: 70%;
    height: 100%;
    margin: none;
}
#menu ul{
    text-align: center;
    float: right;
    background: #0074D9;
}
#menu li{
    display: inline-block;
    padding: none;
}
#menu li a{
    color: #FFFFFF;
    display: inline-block; 
    padding: 0em 1.50em; 
    text-decoration: none; 
    font-weight: 600; 
    text-transform: uppercase; 
    line-height: 60px;
    
   -webkit-transition-duration: 1s; /* Safari */
   transition-duration: 2.0s;
}
#menu li a:hover{
    background-color: rgb(92, 126, 236);
    color: 1px solid #0074D9; 
    border: 2px solid green;
}
/***************************/
/* Styling Navigation Menu */
/***************************/
#header-image-menu{ 
    top: 10px; 
    position: relative; 
}
#header-image-menu img{ 
    width: 100%;
    height: 100%; 
    margin: none; 
    padding: none; 
} 
#image-text{
    position: absolute;
    top: 60%;
    left:60%;
    color: rgb(0, 0, 0);
    text-align: center;
   /* transform: translate(-30%, -30%); */
   /*can add to shift a little bit up and left*/
}
/**********************************/
/* Styling Main content Section 1 */
/**********************************/
#welcome{
    text-align: center;
    width: 100%;
    margin:auto;
    overflow: auto;
}
#welcome .title{
    padding: 20px;
}
/****************/
/*Styling Button*/
/*************s****/
.button{
    background-color:rgba(22, 158, 22, 0.63); 
    padding: 10px 12px ;
    color: white;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition-duration: 1s; /* Safari */
    transition-duration: 0.4s;
 }
.button:hover { 
     background-color: white; 
     color: #4CAF50; 
 } 
/******************/
/*Sections styling*/
/******************/
#column1, #column2, #column3{
    border-top: 1px solid cornflowerblue;
    margin-top: 6rem;
    padding-bottom: 50px;
    float: left;
    max-width : 32%px;
    text-align: center;
    width: 33%;
    margin: auto;
    overflow: auto;
}
.section-2 h2{
    padding: 1.5em;
}
.section-3{ 
    overflow: hidden; 
    padding-top: 5em;
    padding-left: 5px; 
    padding-right: 5px;
    border-top: 1px solid cornflowerblue; 
    text-align: center; 
    width: 100%;
}       
.section-3 img {   
    width: 60%; 
}    
#column21, #column22, #column23, #column24{ 
    width: 25%; 
    text-align: center; 
    float: right;
    padding-bottom: 50px;
}
/****************/
/*footer styling*/
/****************/
.company-details{
    background-color: rgb(62, 168, 65);
    text-align: center;
    padding: 4em 0em 9rem 0em; ;
    margin-top: 3em;
}
#column31, #column32, #column33{
    text-align: center;
    width: 33%;
    padding: 0em 0em 4em 0em;
    float: left;
}
#icon{
    display: block;
    font-size: 2rem;
    margin-bottom: 1em;
}
.copyright{
    background: rgb(193, 219, 216);
    padding: 2.5em 0rem;;
    text-align: center;
    border-bottom: #404040;
    margin-bottom: 1rem;
    text-decoration-color: #FFFFFF;
}
.copyright a, .copyright span{
    text-decoration: none;
    text-decoration-color: #FFFFFF; 
}
